@char-set: utf8;

/* Here are designed buttons, forms etc */

/* basic template for buttons */
.btn{
	display: block;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}
.login{
	margin: 5px 10px;
	border-radius: 4px;
	float: right;
	width: 6em;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}
.blue {
	background: #00acfc;
	color: #FFF;
}
.blue:hover {
	background: #1f7ff4; /* Old browsers */
}
.blue:active {
	background: -moz-linear-gradient(top, #1f7ff4 0%, #056bc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f7ff4), color-stop(100%,#056bc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f7ff4 0%,#056bc4 100%); /* W3C */
   -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.7);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
	box-shadow:        inset 0 0 10px rgba(0,0,0,0.7);
}	
.fButton {
	background: #00acfc; /* Old browsers */
	background: -moz-linear-gradient(top, #00acfc 2%, #006fc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#00acfc), color-stop(100%,#006fc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00acfc 2%,#006fc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00acfc 2%,#006fc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00acfc 2%,#006fc4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00acfc 2%,#006fc4 100%); /* W3C */
	border-radius: 4px;
	border: solid 1px #FFF;
	width: 6em;
	height: 37px;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
}
.fButton:hover {
	background: #1f7ff4; /* Old browsers */
	background: -moz-linear-gradient(top, #1f7ff4 0%, #056bc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f7ff4), color-stop(100%,#056bc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f7ff4 0%,#056bc4 100%); /* W3C */
}
.fButton:active {
	background: -moz-linear-gradient(top, #1f7ff4 0%, #056bc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f7ff4), color-stop(100%,#056bc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1f7ff4 0%,#056bc4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1f7ff4 0%,#056bc4 100%); /* W3C */
   -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.7);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.7);
}

.pass_button {
	background: url("../images/ticks.png") no-repeat center;
	background-size: 100%;
	float: left;
	width: 120px;
	height: 120px;
	background-color: #CCC;
	line-height: 120px;
	margin: 10px 6% 10px 10px;
	border-radius: 5px;
	border: 1px solid #CCC;
	box-shadow: 5px 5px 20px #888;
}
.pass_button.add {
	background: url("../images/add.png") no-repeat center;
}
.pass_button.add:hover {
	transition: all 200ms ease-in;
    opacity: 0.5;
	box-shadow: 5px 5px 20px #888;
}
.pass_button.add:active {
	opacity: 0.5;
	box-shadow: 5px 5px 20px #000;
	transition: none;
}
.pass_button:hover img {
	transition: all 200ms ease-in;
	margin-top: 5px;
}
.pass_button:hover .p_name {
	display: block;
}
.p_name { 
	display:none; 
	margin-top: -30px;
	font-size: 16px;
}
.pass_button img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
	margin-top: 20px;
}
.userB {
	font-weight: bold;
	height: 2.7em;
	line-height: 2.7em;
	border-radius: 4px;
}
.x2 {
	color: #000;
	background-color: #fff;
	text-align: left;
	padding-left: 3px;
}
.x2:hover {
	background: #00acfc;
	color: #FFF;
}
.x2:active {
	background: #55acfc;
	color: #FFF;
}
.txt {
	font-size: 15px;
	color: #EEE;
	text-decoration: none;
	font-weight: normal;
	float: right;
	width: auto;
	padding: 10px 13px 10px 13px;
	height: 100%;
}
.txt:hover {
	color: #AAA;
}
.txt:active {
	transition: all 200ms ease-in;
	background: #000;
}
.textarea {
	font: 16px "Helvetica Neue",Arial,Helvetica,sans-serif;
	min-height: 35px;
	border: solid 1px #AAA;
	border-radius: 3px;
	width: 80%;
	background: #EAEAEA;
	padding-left: 10px;
	padding-right: 10px;
}
.textarea:hover {
	border: 1px solid #0099FF;
	outline: none;
	background: #F0F0F0 ;
	-webkit-transition: background 100ms ease-in,background-color 85ms ease-in;
	transition: background 100ms ease-in, background-color 85ms ease-in;
	-webkit-transition: background 100ms ease-out,background-color 85ms ease-out;
	transition: background 100ms ease-out, background-color 85ms ease-out;
}
.textarea:focus {
	border: 1px solid #0099FF;
	outline: none;
	background: #FCFCFC ;
	-webkit-transition: background 100ms ease-out,background-color 85ms ease-out;
}