@charset:utf-8;
#form {
	top: 50%;
	margin-top: 100px;/* half of #content height*/
	left: 0;
	width: 100%;
	z-index:-10;
}
#center {
	background-color: #f0f0f0;
	border: 1px solid #bfbfbf;
	width: 620px;
	height: 380;
	margin: 0 auto;	
	border-radius: 3px;
	padding-left: 30px;
	padding-right: 5px;
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#form h2 {
	color: #393939;
	font-size: 25px;
}
#form p {
	font-size: 15px;
}
#form #form_login, #form_register {
	margin-top: 25px;
	width: 50%;
	float: left;
}
#form a {
	color: #686868;
	font-style: italic;
	font-size: 13px;
}
#form a:hover {
	text-decoration: none;
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale(1.1);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
  }
}

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.popIn {
	-webkit-animation-name: popIn;
	-moz-animation-name: popIn;
	-o-animation-name: popIn;
	animation-name: popIn;
}