@char-set: utf8;

body { background-image: url("../images/ticks.png");margin: 0;font: 14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;width: 100%;height: 100%;}

.container {width: 960px;margin: 0 auto;}
.shadow {-moz-box-shadow: 3px 3px 4px #000;-webkit-box-shadow: 3px 3px 4px #000;box-shadow: 0 4px 20px #888;}

#wrap { width: 100%;}
.anim img {
	width: 80%;
	height: 80%;
	margin-left: 0 auto;
}

#logo_container, #slideshow { width: 50%; float: left; margin: 50px auto; }
#logo_container { text-align: center;}
#slideshow { position: relative; height: 444px;  }
#slideshow div  { position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px;}
#slideshow  ul {
    overflow: hidden;
    padding: 10px;
	position: absolute;
	bottom: 0;
	margin: 0;
}
#slideshow  ul li {
    float: left;
    margin-left: 10px;
	display: inline-block;
}
#slideshow  ul li  a { display: block; border-radius: 50px; border: 2px solid #1a74ba; -webkit-border-radius: 50px; width: 10px; height: 10px; background-color: #fff;}
#slideshow  ul li  a:hover { background-color: #1a74ba; }
#panel { background-color: #F00;}

#whatIsCP { clear: both;background: #207ac0; opacity: 0.9; height: 440px;-moz-box-shadow: 3px 3px 4px #000;-webkit-box-shadow: 3px 3px 4px #000;box-shadow: inset 0 23px 20px -20px rgba(0,0,0,0.6);font-family: "facitweb",Helvetica,sans-serif;}
#whatIsCP ul { list-style: none; padding-top: 30px; text-align:justify;}
#whatIsCP li { box-sizing: border-box; float: left; width: 33.33%;}
#whatIsCP li #li1 { width: 80%;}
#whatIsCP li #li2 { width: 80%; margin: 0 auto;}
#whatIsCP li #li3 { width: 80%; margin-left: auto;}
#whatIsCP li h2 { color: #fff; font-size:24px; }
#whatIsCP li p { font-size: 16px; color: #fff; line-height: 1.5em;}
#whatIsCP li img { height: 150px; width: 150px; }

#noName {background: #fff;height: 400px;}
#wrap h1 { font-size: 40px; color: #00F; text-align: center;}

#wrap .logo { width: 100%;}
.header_logo { margin: -3px 7px; padding-left: 5px; padding-right: 5px; }
.header_logo:hover { background: #000; }

#header {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#488bbf+0,207ac0+100 */
background: #488bbf; /* Old browsers */
background: -moz-linear-gradient(top, #488bbf 0%, #207ac0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #488bbf 0%,#207ac0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #488bbf 0%,#207ac0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#488bbf', endColorstr='#207ac0',GradientType=0 ); /* IE6-9 */
	position: relative;
	height: 40px;
	overflow: auto;
	margin-top: -1px;
	padding-top: 1px;
	overflow: hidden;
}

#content {
	margin: 20px auto;
	width: 700px;
}
#content a {
	font: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 18px;
	line-height: 100px;
	font-weight: bold;
	color: rgb(46,112,20);
}
#user {
	display:none;
	position: absolute;
	width: 300px;
	height: 400px;
	background: #fff;
	margin: -13px 7px;
	padding: 10px 10px 10px 10px;
	border-radius: 3px;
	box-shadow: 0 0 20px rgba(0, 0, 0,0.8);
	right: 0;
}
#user h2, #display_pass h2 {
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
	color: #888;
}
#pop-over {
	width: 340px;
	height: 400px;
	clear: both;
	margin: 0 20px;
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-weight: bold;
	float: right;
}
#display_pass {
	width: 370px;
	height: 400px;
	clear: both;
	margin: 0 20px;
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h2 {
	color: #393939;
	font-size: 25px;
}
#display_pass p {
	display: inline;
	font-size: 15px;
}
#display_pass p.q {
	font-weight: normal;
}
.border_b {
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
}